*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
.body1{
    text-align: center;
    background-image: url(https://raw.githubusercontent.com/reezyoflagos/we/master/public/images/presentation.png);
    padding:260px;
   
   background-size: cover;
   background-repeat: no-repeat;
   
    
    

    
    margin:20px;
    span{
        color:lightblue;
        align-items: center;
        text-align: center;
        margin:20px;
    }
    .line{
            .inline{
                text-align: center;
                align-items: center;
                padding:40px;
            }
            .din{
                margin:50px;
                display: flex;
                justify-content: center;
                gap:30px;
            }
            .btn{
                display: flex;
                padding: 7px 20px;
                background-color:black;
                color:white;
                border: none;
                
                .imga{
                    img{
                        width:20;
                        height:30px;
                    }
                }
            }
    }
    
}
.line2{
    display: flex;
    justify-content: space-between;
    
    background-color:lightskyblue;
    padding:40px;
    .ex{
        display: flex;
        gap:10px;
        align-items: center;
        p{
            text-align: center;
            align-items: center;
            padding:20px;
            margin-right:200px;
        }
    }
}